/*custom */

.seperation-top {
    margin-top:100px;
}
.seperation-bottom {
    margin-bottom:150px;
}
.rtl {
    direction: rtl;
}
.hr {
    background-color: #ddcccca8;
    width: 67%;
    height: 2px;
    border-radius: 20px;
    margin: 10px auto;
}

.alert{
    text-align: right;
}
.alert ul {
    list-style-type: none;
}
select , input, textarea {
    text-align: right;
}
button a {
    color: #fff;
}
table {
    text-align: right;
}

.vertical-separation {
    width: 20px;
    height: 400px;
    border-right: 3px solid blue;
    margin: 5px auto;
    display: inline-block;

}

.canva {
    position: absolute;
    top: 286px;
    left: 128px;
    border:1px solid red
}
/*end custom*/

/*
Activity 2 course 1
*/

.mainWrapper {
    margin-top:-120px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.qsts .pens {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.pen > img {
    width: 50px;
    height: 50px;
}
.zone {
    border: 1px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 20px auto;
}
.zones {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 190px;
}

/*
end Activity 2 course 1
*/
/*navbar page*/

.navbar {
    background-color: #2424249c !important;
}
.navbar .dropdown-menu {
    background-color: #242424 !important;
}
.navbar ul a {
    color: white !important;
}

/*end navbar page*/


/*courses page*/

.course {
    margin-top: 30px;
}

.course .course-img {
    height: 200px;
    overflow: hidden;
    display: inline-block;
}
.course .course-img img {
    width: 100%;
    height: 100%;
}
.course .course-desc {
    display: inline-block;
    vertical-align: top;
    text-align: center;

}

/*end courses page*/


/*situation page*/
.situation {
    height: 300px;
}
.situation .situation-img {
    height: 300px;
    overflow: hidden;
}
.situation .situation-img img {
    width: 100%;
    height: 100%;
}

/*end situation page*/

/*footer*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
/*end footer*/


/*activity*/
.activity {
    width: 1000px;
    min-height: 500px;
    height: auto;
    position: relative;
    border : 2px solid #242424;
    border-radius: 20px;
    z-index: 2;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    transition: all 1s ease;
    -moz-transition: all 1s ease;;
    -webkit-transition: all 1s ease;;
}

.activity .activity-label {
    width: 100px;
    height: 50px;
    position: absolute;
    top: -25px;
    right:50px;
    color: red ;
    background: white;
}


.activity  .block{
    text-align: right;
    vertical-align: top;
    margin: 5px auto;
    z-index: 5;
    display: inline-block;
    position: relative;
}
.activity  .block div , .activity  .block div h4 {
    display: inline-block;
}
.block-1 {
    width: 150px;
    height: 150px;
}
.block-50 {
    width: 50px;
    height: 50px;
}
.block-300 {
    width: 300px;
    height: 200px;
}
.block-200 {
    width: 200px;
    height: 200px;
}
.block-400 {
    width: 450px;
    height: 500px;
}
.block-330 {
    width: 330px;
    height: 400px;
}
.block-400-sm {
    width: 450px;
    height: 300px;
}

.activity .block-50 .checkbox  {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 5px auto;
    z-index: 2;
    opacity: 0;
}

.activity .block .checkbox, .activity .number .checkbox{
    position: absolute;
    width: 150px;
    height: 150px;
    margin: 5px auto;
    z-index: 2;
    opacity: 0;
}
.circle-50 {
    height: 50px;
    width: 50px;
    border:1px solid #242424;
    display: inline-block;
    border-radius: 50%;
}
.targets .checkbox {
    bottom: 0px;
}

.activity  .selected-block {
    border : 2px solid #f60 ;
    border-radius: 5px;
}

.khochayba {
    width: 20px;
    height: 190px;
    margin: 5px auto;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.purple {
    background-color: #65116e;
}
.blue {
    background-color: #001480;
}
.aqua {
    background-color: #3e66f0;
}
.orange {
    background-color: #e16618;
}
.green-1 {
    background-color: #0a420a;
}
.pink {
    background-color: pink;
}
.brown {
    background-color: brown;
}
.orange-1 {
    background-color: orange;
}


.selectedResponse {
    background-color: green;
}
.selectedResponse-red {
    background-color: red;
}

.spone , .fendj{
    display: inline-block;
    margin: 5px auto;
    width:120px;
    height: 40px;
    text-align: center;
}
.spone img {
    width:100%;
    height: 100%;
}
.fendj  {
    width:80px;

}
.fendj img {
    width:80%;
    height: 80%;
}
#sketchpad {
    width: 100%;
    position: relative;
    height: 400px;
    text-align: center;
}
#sketchpad .sketch {
    display: inline-block;
    position: relative;
}
#sketchpad .sketch img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
}
#sketchpad .solu {
    border:1px solid black;
    margin:5px;
    width:200px;
    padding: 10px;
}
#sketchpad .solu img {
    width: 50px;
    height: 50px;
    position: relative;
}
#sketchpad .sketch canvas {
    margin: 5px auto;
    width: 200px;
    border: 2px solid #ccc;
}

.table-numbers {
    width: 500px;
    vertical-align: top;
    display: inline-block;
}
.animals-activity {
    display: inline-block;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.animals-activity img {
    width: 100%;
    height: 100%;
}
.table-numbers td {
    border : 1px solid #ccc;
    text-align: center;
}
.marsoufa {
    display: inline-block;
    width: 400px;
    height: 500px;
}
.marsoufa tr {
    height: 83px;
    width: 83px;
}
.marsoufa td {
    text-align: center;
    width:77px;
    height: 60px;
}
/*end activity*/

/*activity  two */

.mainWrapper {
    margin-top:-120px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.qsts .pens {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.pen > img {
    width: 50px;
    height: 50px;
}
.zone {
    border: 1px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 20px auto;
}
.zones {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 190px;
}

/*end activity two*/
